@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom utilities */
.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-text {
  background: linear-gradient(135deg, #a413ec 0%, #ff9933 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
